Node-red-Flow.json
[{"id":"a7397fa.8ff1a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6b25d7e5.c33eb8","type":"http request","z":"a7397fa.8ff1a8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://cff8f8d1-8e77-4ae2-930b-169c5de7ef5b-bluemix.cloudant.com/project-iot/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":420,"y":320,"wires":[["5d127801.d20388"]]},{"id":"5d127801.d20388","type":"function","z":"a7397fa.8ff1a8","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nglobal.set('image',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["538b44f5.ab15dc","74e67886.2eb258"]]},{"id":"538b44f5.ab15dc","type":"debug","z":"a7397fa.8ff1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":360,"wires":[]},{"id":"36a00a39.f96566","type":"ui_button","z":"a7397fa.8ff1a8","name":"","group":"99882f7e.30792","order":6,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":320,"wires":[["6b25d7e5.c33eb8"]]},{"id":"74e67886.2eb258","type":"ui_template","z":"a7397fa.8ff1a8","group":"99882f7e.30792","name":"","order":5,"width":"6","height":"7","format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":480,"wires":[[]]},{"id":"6d8c9187.30eaf","type":"http in","z":"a7397fa.8ff1a8","name":"image","url":"/image","method":"get","upload":false,"swaggerDoc":"","x":180,"y":120,"wires":[["80065998.519ad8"]]},{"id":"80065998.519ad8","type":"function","z":"a7397fa.8ff1a8","name":"function","func":"msg.payload=global.get('image')\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["17048a96.788195"]]},{"id":"17048a96.788195","type":"http response","z":"a7397fa.8ff1a8","name":"","statusCode":"","headers":{},"x":590,"y":120,"wires":[]},{"id":"99882f7e.30792","type":"ui_group","z":"a7397fa.8ff1a8","name":"SmartSecurity","tab":"ac5930cd.08239","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac5930cd.08239","type":"ui_tab","z":"a7397fa.8ff1a8","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]